<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Viagem de Mochilão pelo Brasil - Veja o Documentário!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/plugins.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/yourstyle.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- MailerLite Universal -->
    <script>
        (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
        
        var ml_account = ml('accounts', '923389', 'h2y0m8u8m5', 'load');
    </script>
    <!-- End MailerLite Universal -->
</head>
<body>
<!-- loader -->
<div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
<!-- loader end -->
<!--================= Main   ================-->
<div id="main">


{{>bsnavbar}}


{{{body}}}

    <!-- footer -->
    <footer class="fixed-footer">
        <div class="policy-box">
            <span>&#169; Cinema Empreendedor 2017/ Todos Direitos Reservados. </span>
        </div>
        <div class="swiper-pagination footer-counter"></div>
        <div class="footer-social">
            <ul>
                <li><a href=https://www.facebook.com/cineempreendedor/" target="_blank" ><span><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;facebook</span></a></li>
                <li><a href="https://www.instagram.com/cinempreendedor/" target="_blank" ><span><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;instagram</span></a></li>
            </ul>
        </div>
    </footer>
    <!-- footer end -->
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
<script src="https://use.fontawesome.com/6d59b89450.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>