
<style>
    .sidebar-social li a {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    background: dodgerblue;
    color: #fff;
    font-size: 30px;
}

.sidebar-social li a:hover{
    background: #015AFF
}

#wrapper {
    width: 100%;
    position: relative;
    float: left;
    padding-top: 0px;
    left: 0;
    z-index: 5;
    height: 100%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

#wrapper.fullsceen-wrap {
    padding-bottom: 20px;
}

.section-title h3 {
    text-align: right;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

p {
    text-align: left;
    font-size: 15px;
    line-height: 28px;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: justify;
}

.video-widget2:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
    width: 760px;
    height: 530;
    z-index: 2;
}

.video-widget2 a {
    position: absolute;
    top: 42%;
    left: 105%;
    width: 100px;
    height: 100px;
    margin: -25px 0 0 -25px;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
    font-size: 50px;
    z-index: 10;
    border-radius: 100%;
}


</style>
<!--=============== wrapper ===============-->
<div id="wrapper" class="fullsceen-wrap">
    <!--Content -->
    <div class="content full-height">
        <div class="fs-mode isfs"><span></span></div>
        <!-- hero content -->
        <div class="fs-gallery-wrap fl-wrap full-height">
            <div class="media-container">
                <div class="video-mask"></div>
                <div class="video-holder">
                    <div class="video-container">
                        <video autoplay  loop muted  class="bgvid">
                            <source src="/images/outra.mp4" type="video/mp4">
                        </video>
                    </div>
                    <!--
                        Vimeo code

                         <div  class="background-vimeo" data-vim="97871257"> </div> -->
                    <!--
                        Youtube code

                         <div  class="background-youtube" data-vid="Hg5iNVSp2z8" data-mv="1"> </div> -->
                    <div class="mob-bg bg" data-bg="images/bg/1.jpg"></div>
                </div>
            </div>
            <div class="overlay"></div>
            <!-- hero-wrap-->
            <div class="hero-wrap alt">
                <div class="container">
                    <div class="hero-item">
                        <h2>Empreender é uma questão de ser!</h2>
                        <div class="clearfix"></div>
                        <p style="font-size:20px !important;">Uma maneira de se olhar para o mundo.</p>
                        <div class="clearfix"></div>
                        <a href="https://youtu.be/MykVO4Kc5ps" class="image-popup btn float-btn flat-btn" style="font-size: 15px; background-color: dodgerblue">Clique e assista o 1º episódio de Jornada!</a>
                    </div>
                </div>
            </div>
            <!-- hero-wrap end-->
        </div>
        <!-- hero content end-->
    </div>
    <!-- content  end -->
</div>

<div id="wrapper" class="heiginf">
    <!--Content -->
    <div class="content">
        <section class="big-pad-sec">
            <div class="container">
                <div class="section-title">
                    <h3 style="text-align:left">O que fazemos no <b style="color:rgb(0, 195, 255)">CINEMA EMPREENDEDOR</b>?</h3>
                </div>
                <div class="text-container fl-wrap">
                    <p>Além das produções, levamos a magia do cinema para dentro de sala, junto com conhecimento e princípios do empreendedorismo e protagonismo para despertar jovens protagonistas. 
                    </p>
                    <p>O Cinema Empreendedor foi idealizado por 3 amigos com o proposito de levar conhecimentos não convencionais que não é falado em sala de aula. Produzindo conteúdo para mudar e gerar oportunidades de ver o mundo por outras lentes.</p>
                </div>
            </div>
        </section>

        
        <section>
            <div class="container">
                <div class="section-title">
                    <h3 style="color: rgb(0, 195, 255)">Jornada - Outra Perspectiva</h3>
                </div>
                <div class="text-container fl-wrap">
                    <p>Frederico Linhares empreendeu com seu sonho viajando de carona por 05 estados do Brasil. O propósito do quadro Jornada é mostrar que não existem barreiras nem limites para a execução dos seus sonhos a não ser os que você mesmo estabeleceu em sua mente.</p>
                    <!-- team-box   --> 
                    <h1 style="font-size: 24px;text-transform: uppercase;font-weight: 700;float: left;width: 100%;padding-bottom: 20px; padding-top:20px"><b style="color:rgb(0, 195, 255)">Desperte!</b> mude seus pensamentos. Limites só existem na mente.</h1>
                    <div class="team-box">
                        <div class="sb-widge video-widget2   fl-wrap">
                            <img src="images/video2.png" alt="" class="">
                            <a href="https://youtu.be/MykVO4Kc5ps" class="image-popup"><i class="fa fa-play" style="position:relative; top:18px;left:5px" ></i></a>									
                        </div>
                    </div>
                    <!-- team-box end -->                                         
                </div>
            </div>
        </section>
    
        <section>
            <div class="container">
                <div class="section-title">
                    <h3 style="text-align: left">Oficinas de Empreendorismo nas Escolas Públicas</h3>
                </div>
                <div class="text-container fl-wrap">
                    <p>Nosso proposito é despertar o potencial empreendedor nos jovens e adolescentes. Sabendo que antes de mais precisamos viver na pratica tudo aquilo que passamos.</p>
                    <p>A Jornada de Cinema Empreendedor é formado por jovens que acreditam na transformação do pais através da transformação pessoa, de dentro pra fora.</p>
                    <!-- serv-wrap--> 
                    <div class="serv-wrap fl-wrap">
                        <!-- serv-item --> 
                        <div class="serv-item">
                            <img src="images/escolas1.jpg" alt="">
                            <!--<h4><a href="#">Wedding Photography</a></h4>
                            <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>-->
                        </div>
                        <!-- serv-item end --> 
                        <!-- serv-item --> 
                        <div class="serv-item">
                            <img src="images/escola2.jpg" alt="">
                            <!--<h4><a href="#">Commercial Photography</a></h4>
                            <p> Sed blandit, dolor id aliquam vestibulum, nibh elit imperdiet turpis, quis molestie quam erat vel nisi.</p>-->
                        </div>
                        <!-- serv-item end -->                                                  
                    </div>
                    <!-- serv-wrap end --> 
                </div>
            </div>
        </section>
    </div>
    <!-- content  end -->  
</div>

<!-- wrapper end -->
<!-- sidebar -->
<div class="sb-overlay"></div>
<div class="hiiden-sidebar-wrap">
    <!-- sb-widget-wrap-->
    <div class="sb-widget-wrap fl-wrap">
        <h3>Sobre o Cinema Empreendedor</h3>
        <div class="sb-widget about-widget fl-wrap">
            <img src="images/cine.jpg" alt="">
            <p>Cinema Empreendedor é uma plataforma de produção e reprodução de conteúdo para jovens protagonistas.</p>
        </div>
    </div>
    <!-- sb-widget-wrap end-->
    <!-- sb-widget-wrap-->
    <!--<div class="sb-widget-wrap fl-wrap">
        <h3>SUBSCRIBE TO OUR NEWSLETTER</h3>
        <div class="sb-widget  fl-wrap">
            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,  </p>
            <div class="subcribe-form fl-wrap">
                <form id="subscribe">
                    <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                    <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                    <label for="subscribe-email" class="subscribe-message"></label>
                </form>
            </div>
        </div>
    </div>-->
    <!-- sb-widget-wrap end-->
    <!-- sb-widget-wrap-->
    <div class="sb-widget-wrap fl-wrap">
        <h3>Jornada - Uma Outra Perspectiva</h3>
        <div class="sb-widge video-widget fl-wrap">
            <img src="images/video.png"  class="respimg" alt="">
            <a href="https://youtu.be/MykVO4Kc5ps" class="image-popup"><i class="fa fa-play"></i></a>
        </div>
    </div>
    <!-- sb-widget-wrap end-->
    <!-- sb-widget-wrap-->
    <div class="sb-widget-wrap fl-wrap">
        <h3>Veja o Cinema Empreendedor nas Redes Sociais</h3>
        <div class="sb-widget    fl-wrap">
            <div class="sidebar-social fl-wrap">
                <ul>
                    <li><a href="https://www.youtube.com/user/rolenaestrada/" target="_blank" ><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/cinempreendedor/" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/cineempreendedor/" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- sb-widget-wrap end-->
    <!-- sb-widget-wrap-->
    
    <!-- sb-widget-wrap end-->
</div>
<!-- sidebar end -->
<!--search-form-holder -->
<div class="search-form-holder fixed-search">
    <div class="search-form-bg"></div>
    <div class="search-form-wrap">
        <div class="container">
            <form class="searchform" method="get"  >
                <input type="text" autocomplete="off"   name="s" placeholder="Type and Enter to Search">
            </form>
            <div class="close-fixed-search"></div>
        </div>
    </div>
</div>
